<div class="home">
  <div class="banner">
    <div class="spacer">

    </div>
    <h1>HOW WILL YOU ADVENTURE TODAY?</h1>
  </div>
  <div class="steps">
    <div class="containsteps">
      <a href="#"><div class="step">
        <h3>Step 1</h3>
        <p>Search for a guided adventure</p>
      </div></a>
      <a href="#"><div class="step">
        <h3>Step 2</h3>
        <p>Pick a date and sign up</p>
      </div></a>
      <a href="#"><div class="step">
        <h3>Step 3</h3>
        <p>Leave for your adventure</p>
      </div></a>
    </div>
  </div>
  <div class="adventureoptions">
    <div class="optiontop">
      <div class="larger" id="homepic1">
        <h1>KAYAKING</h1>
      </div>
      <div class="smaller" id="homepic2">
        <h1>HIKING</h1>
      </div>
    </div>
    <div class="optionbottom">
      <div class="smaller" id="homepic3">
        <h1>CLIMBING</h1>
      </div>
      <div class="larger" id="homepic4">
        <h1>MOUNTAINEERING</h1>
      </div>
    </div>
  </div>
  <div class="whatareyouwaitingfor">
    <a href="#"><h3>SIGN UP FOR A TRIP TODAY</h3></a>
  </div>
  <div class="selectionlinks">
    <a href="#"><div class="selectionlink" id="selectionlink1">
      <h3>Find an Adventure</h3>
    </div></a>
    <a href="#"><div class="selectionlink" id="selectionlink2">
      <h3>Become a Guide</h3>
    </div></a>
    <a href="#"><div class="selectionlink" id="selectionlink3">
      <h3>Login or Sign-Up</h3>
    </div></a>
  </div>
</div>
